
<h2>Change Password</h2>
@if (TempData["msg"] != null)
{
    <div class="alert alert-danger">
        @TempData["msg"]
    </div>
}
<form method="post" action="/Home/PasswordChange" class="mt-4">

    <input type="hidden" name="id" value="@Model.id" />

    <div class="mb-3">
        <label for="OldPassword" class="form-label">Current Password</label>
        <input type="password" class="form-control" id="OldPassword" name="OldPassword" required />
    </div>

    <div class="mb-3">
        <label for="NewPassword" class="form-label">New Password</label>
        <input type="password" class="form-control" id="NewPassword" name="NewPassword" required />
    </div>

    <div class="mb-3">
        <label for="ConfirmPassword" class="form-label">Confirm New Password</label>
        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required />
    </div>

    <button type="submit" class="btn btn-primary">Change Password</button>
</form>
